# Core numerika a data
numpy
pandas

# Obrázky a DICOM
opencv-python-headless
pydicom
pillow
scikit-image

# Deep learning
torch
torchvision
einops

# Vizualizace
matplotlib
seaborn

# Speciální
hausdorff
batchgenerators==0.21

# Testy (jen pokud skutečně máš pytest testy)
pytest